@import '../../shared/styles'

#password
  letter-spacing: 10px

  &::-webkit-input-placeholder
    letter-spacing: 0.22px
  &:-moz-placeholder
    letter-spacing: 0.22px
  &::-moz-placeholder
    letter-spacing: 0.22px
  &:-ms-input-placeholder
    letter-spacing: 0.22px

.login-wrapper
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  background: $pale-gray

  & .form-container
    min-width: 318px

  h1
    margin: 0

  .login-form

    &-head
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 10px

    &-bottom
      display: flex
      justify-content: space-between
      align-items: center
      margin-top: 20px

    &__help
      color: $soft-blue
      font-size: 12px
      margin-left: 15px
