<div
  class="course"
  [appIsFreshStatus]="course.creationDate"
  [ngClass]="{ 'top-rate': course.isTopRated }"
>
  <div class="course-content">
    <div class="course-head">
      <div class="left-part">
        <a routerLink="/course/{{ course.id }}">
          <h2 class="course-head-title">
            {{ course.title | uppercase }}
          </h2>
        </a>
        <i class="fas fa-star fa-lg" *ngIf="course.isTopRated"></i>
      </div>
      <div class="right-part course-head-sub__info">
        <span
          ><i class="fa fa-clock-o"></i
          >{{ course.creationDate | date: 'd MMM.yyyy' }}</span
        >
        <span
          ><i class="fa fa-calendar"></i>{{ course.duration | duration }}</span
        >
      </div>
    </div>
    <p>{{ course.description }}</p>
  </div>
  <div class="course-manage-tools">
    <button type="button" class="common-btn edit-btn">
      <i class="fas fa-pen"></i>Edit
    </button>
    <button
      (click)="onDelete()"
      class="common-btn delete-btn"
      id="{{ course.id }}"
    >
      <i class="fas fa-trash"></i>Delete
    </button>
  </div>
</div>
