<div class="course">
  <div class="course-content">
    <div class="course-head">
      <a routerLink="/course/{{ course.id }}">
        <h2 class="course-head-title">
          {{ course.title }}
        </h2>
      </a>
      <div class="course-head-sub__info">
        <span><i class="fa fa-clock-o"></i>{{ course.creationDate }}</span>
        <span><i class="fa fa-calendar"></i>{{ course.duration }}</span>
      </div>
    </div>
    <p>{{ course.description }}</p>
  </div>
  <div class="course-manage-tools">
    <button type="button" class="common-btn">
      <i class="fas fa-pen"></i>Edit
    </button>
    <button (click)="onDelete()" class="common-btn">
      <i class="fas fa-trash"></i>Delete
    </button>
  </div>
</div>
