.user-tools
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%

    &-item
        color: inherit
        margin-left: 20px
        cursor: pointer
        margin-left: 20px

        &:hover
            text-decoration: underline

        > i
            margin-right: 5px
