<div class="form-input__medium authors" [formGroup]="parentForm">
  <div class="form-label">
    <label for="authors-label">Authors:</label>
    <span class="form-error" *ngIf="isError">
      {{ outputError }}
    </span>
  </div>
  <input
    (keyup)="searchAuthors()"
    formControlName="authors"
    type="text"
    id="authors"
    class="common-input"
    placeholder="Start typing"
    [ngClass]="{ 'failed-input': isError }"
    autocomplete="off"
  />
  <div class="authors-suggester" *ngIf="isFind">
    <span
      *ngFor="let author of authors$ | async"
      class="authors-suggester-pill"
      (click)="onAuthorSelect(author)"
      >{{ author.name }}</span
    >
  </div>
</div>
