<div class="authors">
  <div class="form-label">
    <span>Authors:</span>
  </div>
  <div class="common-input authors-field" (click)="suggesterTrigger()">
    <span class="authors-field-item" *ngFor="let author of authorsList">
      {{ author.name }}
      <i class="fas fa-times" (click)="deleteAuthor($event, author.id)"></i>
    </span>
  </div>
  <div class="authors-suggester" *ngIf="suggesterStatus">
    <input
      (keyup)="onSearchAuthors()"
      [formControl]="searchedAuthorsField"
      type="text"
      class="authors-suggester-input"
      placeholder="Start typing"
      autocomplete="off"
    />
    <div class="authors-suggester-results">
      <span
        *ngFor="let sAuthor of searchedAuthors$ | async"
        class="authors-suggester-item"
        (click)="onSearhcedAuthorSelect(sAuthor)"
        >{{ sAuthor.name }}</span
      >
    </div>
  </div>
</div>
