<div
  class="course container-white"
  [appIsFreshStatus]="course.date"
  [ngClass]="{ 'top-rate': course.isTopRated }"
>
  <div class="course-head">
    <div class="left-part">
      <a [routerLink]="['/courses', course.id]">
        <h2 class="course-head-title">
          {{ course.name | uppercase }}
        </h2>
      </a>
      <i class="fas fa-star fa-lg" *ngIf="course.isTopRated"></i>
    </div>
    <div class="right-part course-head-sub__info">
      <span><i class="fa fa-clock-o"></i>{{ course.length | duration }}</span>
      <span
        ><i class="fa fa-calendar"></i
        >{{ course.date | date: 'd MMM.yyyy' }}</span
      >
    </div>
  </div>
  <div class="course-content">
    <p>{{ course.description }}</p>
    <div class="course-manage-tools">
      <button
        [routerLink]="['/courses', course.id]"
        type="button"
        class="common-btn edit-btn"
      >
        <i class="fas fa-pen"></i>Edit
      </button>
      <button
        (click)="onDelete()"
        class="common-btn delete-btn"
        id="{{ course.id }}"
      >
        <i class="fas fa-trash"></i>Delete
      </button>
    </div>
  </div>
</div>
