@import '../../shared/styles'

.course
    display: flex
    justify-content: space-between
    padding: 10px 25px
    border: 3px solid #9A9A9A
    margin: 20px 0

    &-content
        max-width: 75%

    &-manage-tools
        display: flex
        align-items: center
        &>button
            margin-left: 15px

    .course-head
        display: flex
        align-items: center
        justify-content: space-between

        & a:hover
            color: $dark

        &-title
            font-weight: 600
            color: $dark

        .left-part
            display: flex
            align-items: center

            > i
                margin-left: 10px
                color: $golden

        &-sub__info
            color: $cloudy-blue
            & span
                font-size: 12px

            & i
                font-size: 16px
                margin: 0 5px 0 15px

.fresh
    border-color: $sick-green
.upcoming
    border-color: $dark-sky-blue
.top-rate
    background: $top-rated
