@import "./mixins"

.common-btn
    @include common-btn
    > i
        margin-right: 10px

.accept-btn
    @include accept-btn

    &[disabled]
        @include accept-btn__disabled

.cancel-btn
    @include btn
    background: $grey
    font-size: 14px

.common-input
    @include input
