@import './variables'

@mixin btn
    padding: 0 15px
    border: none
    border-radius: 3px
    font-weight: 600
    font-stretch: normal
    font-style: normal
    line-height: 2.57
    letter-spacing: -0.1px
    cursor: pointer
    &:hover
        opacity: 0.75

@mixin common-btn
    @include btn
    background: $dark-sky-blue
    color: $white

@mixin accept-btn
    @include common-btn
    background: $sick-green

@mixin input
    width: 300px
    line-height: 2.45
    padding: 5px 15px 5px 40px
    border-radius: 3px
    border: solid 1px #d9dbe3
    @include placeholder-color($silver)

@mixin placeholder-color($color)
    &::-webkit-input-placeholder
        color: $color
    &:-moz-placeholder
        color: $color
    &::-moz-placeholder
        color: $color
    &:-ms-input-placeholder
        color: $color
