$white: #fff
$darkgrey: #414452 // header & footer
$pale-grey: #f2f3f7 // bg
$dark-sky-blue: #30b6dd // crud btns
$sick-green: #9bc837 //save btn
$grey: #d9dbe3 //cancel btn
$slate-grey: #525462 // text
$dark: #2c2f3c // headers & breadcrumbs-active
$steel: #868996 // breadcrumbs
$cloudy-blue: #b9bdce //duration & date
$silver: #c0c3ce // placeholder
$light-silver: #6c7283 // *requred & placeholder icons
