<div class="course-list-wrapper">
  <div class="custom-container">
    <div class="courses-list">
      <app-search-bar></app-search-bar>
      <div class="courses-list-header">
        <div (click)="toggleFilter()">
          <i
            class="fas fa-sort-up sort"
            [ngClass]="{
              'sort-active': !isNeedNew,
              'sort-disabled': isNeedNew
            }"
          ></i>
          <i
            class="fas fa-sort-down sort"
            [ngClass]="{
              'sort-active': isNeedNew,
              'sort-disabled': !isNeedNew
            }"
          ></i>
          <span
            >Filtered from {{ filterStatus == 'last' ? 'new' : 'old' }}</span
          >
        </div>
        <button
          routerLink="/courses/new"
          type="button"
          class="common-btn add-course-btn"
        >
          <i class="fa fa-plus fa-lg"></i>
          Add course
        </button>
      </div>
      <app-course
        *ngFor="let course of coursesList | orderBy: 'date':filterStatus"
        [course]="course"
        (deleted)="onDelete($event)"
      >
      </app-course>
      <app-load-more></app-load-more>
    </div>
  </div>
</div>

<ng-template #modal>
  <div class="modal-body text-center" *ngIf="needToDelete !== null">
    <div class="modal-header">
      <h4 class="modal-title pull-left">
        Do you want to delete {{ needToDelete.name }}?
      </h4>
    </div>
    <div class="modal-buttons">
      <button type="button" class="accept-btn" (click)="confirm()">
        Yes
      </button>
      <button type="button" class="common-btn" (click)="decline()">
        No
      </button>
    </div>
  </div>
</ng-template>
