@import '../../shared/styles'

.course-list-wrapper
    background: $pale-grey
    padding: 20px 0

.courses-list
    display: flex
    flex-direction: column

.add-course-btn
    line-height: 2.57
    padding: 0 24px
    align-self: flex-end
    font-size: 14px
    letter-spacing: -0.1px
