<div class="form-input__short" [formGroup]="parentForm">
  <div class="form-label">
    <label for="duration">{{ 'BASE.DURATION' | translate | titlecase }}:</label>
    <span class="form-error" *ngIf="isError">
      {{ outputError }}
    </span>
  </div>
  <input
    formControlName="length"
    type="number"
    id="duration"
    class="common-input"
    placeholder="{{ 'BASE.MINUTES' | translate | titlecase }}"
    [ngClass]="{ 'failed-input': isError }"
  />
</div>
<div class="duration-output">
  {{ parentForm.value.length | duration }}
</div>
