<div class="manage-course-wrapper">
  <div class="container-white form-container manage-course">
    <div class="manage-form-head">
      <h1>New Course</h1>
      <!-- <h1>Edit Course</h1> -->
    </div>
    <form [formGroup]="manageCourseForm" class="form-column manage-course-form">
      <span class="form-label">
        <label for="title">Title:</label>
        <span class="form-hint">*required</span>
      </span>
      <input
        formControlName="title"
        type="text"
        id="title"
        class="common-input"
        placeholder="Text nput"
      />
      <span class="form-label">
        <label for="descrition">Descripion:</label>
        <span class="form-hint">*required</span>
      </span>
      <textarea
        formControlName="descrition"
        rows="4"
        cols="45"
        id="descrition"
        class="common-input"
        placeholder="Add description"
      ></textarea>
      <div class="form-input__short">
        <span class="form-label">
          <label for="duration">Duration:</label>
          <span class="form-hint">*required</span>
        </span>
        <input
          formControlName="duration"
          type="text"
          id="duration"
          class="common-input"
          placeholder="minutes"
        />
      </div>
      <div class="form-input__short">
        <span class="form-label">
          <label for="date">Date:</label>
          <span class="form-hint">*required</span>
        </span>
        <input
          formControlName="createDate"
          type="text"
          id="date"
          class="common-input"
          placeholder="mm-dd-yyyy"
        />
      </div>
      <div class="form-input__medium">
        <span class="form-label">
          <label for="authors">Authors:</label>
          <span class="form-hint">*required</span>
        </span>
        <input
          formControlName="authors"
          type="text"
          id="authors"
          class="common-input"
          placeholder="Start typing"
        />
      </div>
      <div class="manage-course-bottom">
        <button type="button" class="cancel-btn">
          Cancel
        </button>
        <button type="submit" class="accept-btn">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
