<div class="manage-course-wrapper">
  <div class="container-white form-container manage-course">
    <div class="manage-course-head">
      <h2>{{ editCourseId ? 'Edit Course' : 'New Course' }}</h2>
    </div>
    <form
      [formGroup]="manageCourseForm"
      class="form-column manage-course-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-label">
        <label for="title">Title:</label>
        <span class="error failed-color" *ngIf="isError('name')">
          {{ outputError('name') }}
        </span>
      </div>
      <input
        formControlName="name"
        type="text"
        id="name"
        class="common-input"
        placeholder="Text nput"
        [ngClass]="{ 'failed-field': isError('name') }"
      />
      <div class="form-label">
        <label for="description">Descripion:</label>
        <span class="error failed-color">*error</span>
      </div>
      <textarea
        formControlName="description"
        rows="4"
        cols="45"
        id="description"
        class="common-input"
        placeholder="Add description"
      ></textarea>
      <app-duration-input [parentForm]="manageCourseForm"></app-duration-input>
      <app-date-picker [parentForm]="manageCourseForm"></app-date-picker>
      <app-authors-list [parentForm]="manageCourseForm"></app-authors-list>
      <div class="manage-course-bottom">
        <button type="button" class="cancel-btn" (click)="onCancel()">
          Cancel
        </button>
        <button type="submit" class="accept-btn" [disabled]="!form.valid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
