<div class="manage-course-wrapper">
  <div class="container-white form-container manage-course">
    <div class="manage-course-head">
      <h2>
        {{
          (editCourseId ? 'BASE.EDIT' : 'BASE.NEW' + ' COURSE')
            | translate: { type: 'BASE.COURSE' | translate }
            | titlecase
        }}
      </h2>
    </div>
    <form
      [formGroup]="manageCourseForm"
      class="form-column manage-course-form"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-field">
        <div class="form-label">
          <label for="title">{{ 'BASE.TITLE' | translate | titlecase }}:</label>
          <span
            class="form-error"
            *ngIf="formControls.name.touched && formControls.name.errors"
          >
            {{ formControls.name.errors | outputError }}
          </span>
        </div>
        <input
          formControlName="name"
          type="text"
          id="name"
          class="common-input"
          placeholder="{{ 'BASE.TEXT_PLACEHOLDER' | translate }}"
          [ngClass]="{
            'failed-input':
              formControls.name.touched && formControls.name.errors
          }"
        />
      </div>

      <div class="form-field">
        <div class="form-label">
          <label for="description"
            >{{ 'BASE.DESCRIPTION' | translate | titlecase }}:</label
          >
          <span
            class="form-error"
            *ngIf="
              formControls.description.touched &&
              formControls.description.errors
            "
          >
            {{ formControls.description.errors | outputError }}
          </span>
        </div>
        <textarea
          formControlName="description"
          rows="4"
          cols="45"
          id="description"
          class="common-input"
          placeholder="{{
            'BASE.ADD' | translate: { type: 'BASE.DESCRIPTION' | translate }
          }}"
          [ngClass]="{
            'failed-input':
              formControls.description.touched &&
              formControls.description.errors
          }"
        ></textarea>
      </div>

      <div class="form-field">
        <app-duration-input
          [parentForm]="manageCourseForm"
          [isError]="formControls.length.touched && formControls.length.errors"
          [outputError]="formControls.length.errors | outputError"
        >
        </app-duration-input>
      </div>
      <div class="form-field">
        <app-date-picker
          [parentForm]="manageCourseForm"
          [isError]="formControls.date.touched && formControls.date.errors"
          [outputError]="formControls.date.errors | outputError"
          [dateFormat]="dateFormat"
        >
        </app-date-picker>
      </div>
      <div class="form-field">
        <app-authors-list
          formControlName="authors"
          [isError]="
            formControls.authors.touched && formControls.authors.errors
          "
          [outputError]="formControls.authors.errors | outputError"
        >
        </app-authors-list>
      </div>

      <div class="manage-course-bottom">
        <button type="button" class="cancel-btn" (click)="onCancel()">
          {{ 'BASE.CANCEL' | translate | titlecase }}
        </button>
        <button
          type="submit"
          class="accept-btn"
          [disabled]="!manageCourseForm.valid"
        >
          {{ 'BASE.SAVE' | translate | titlecase }}
        </button>
      </div>
    </form>
  </div>
</div>
