/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/components"

*
    font-family: 'Source Sans Pro', sans-serif
    font-size: 14px

html,body
    height: 100%

h2
    font-size: 24px

a
    color: $dark

label
    margin-bottom: 0

.custom-container
    padding: 0 6%

.container-white
    background: $white
    border-radius: 8px
    box-shadow: 0 1px 24px 0 rgba(18, 21, 35, .08)

.form-container
    padding: 25px
