/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/components"

*
    font-family: 'Source Sans Pro', sans-serif
    font-size: 14px

html,body
    height: 100%

h2
    font-size: 24px

.container
    padding: 0 6%
